<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsa="http://www.w3.org/2005/08/addressing">
	<soap:Header>
		<wsa:MessageID>__MESSAGE_ID__</wsa:MessageID>
		<wsa:Action>__SOAP_ACTION__</wsa:Action>
		<wsa:To>__TO_URL__</wsa:To>__FROM_URL____REPLY_TO__
__SECURITY__
	</soap:Header>
	<soap:Body>
		__SOAP_BODY__
	</soap:Body>
</soap:Envelope>
