*         -text

*.java    -text diff=java
*.html    -text diff=html

*.jar     binary
*.war     binary
*.ear     binary
*.mar     binary
*.rar     binary
*.aar     binary

*.gif     binary
*.jpg     binary
*.jpeg    binary
*.tif     binary
*.tiff    binary
*.png     binary

*.o       binary
*.dll     binary
*.dylib   binary

*.zip     binary
*.tar     binary
*.gz      binary
*.bz2     binary
*.xz      binary
*.deb     binary
*.rpm     binary

*.cs      text eol=crlf diff=csharp
*.csproj  text eol=crlf merge=union
*.sln     text eol=crlf merge=union
*.docx    text eol=crlf diff=astextplain
*.xaml    text eol=crlf
*.cmd     text eol=crlf
*.msbuild text eol=crlf
*.cmd     text eol=crlf
*.bat     text eol=crlf
