
.nav_boxes{
	width: 75%;
	float: left;
	margin-left: -15px;
}

.hp_sidebar{
	width: 25%;
	float: left;
	padding-bottom: 30px;
}

.one_third{
	width: 32.9%;
	float: left;
	padding-bottom: 30px;
}

.two_thirds{
	width: 66%;
	float: left;
	padding-bottom: 30px;
}

.half{
	width: 50%;
	float: left;
}

.three_quarters{
	width: 74%;
	float: left;
}

.one_quarter{
	width: 25%;
	float: left;
}
.content_wrap{
	margin-top: 30px;
}

.fw_nav_boxes{
	margin:30px 0 0 -30px;
}

.full_width{
	width: 100%;
	.content_wrap article{
		margin: 0 0 24px 0;
	}
}