
/*------------Colours---------*/
$blue: #0072c6;
$green: #006b55;
$red: #931638;
$purple: #56008c;
$orange: #e28c05;
$aquaBlue: #00adc6;
$aquaGreen: #00aa9e;

$darkGrey: #444444;
$metaGrey: #6b6b6b;
$midGrey: #d8d8d8;
$boxGrey: #e9e9e9;
$lightGrey: #f5f5f5;


.breadcrumb_last{
	color: $blue;
}

.single-library,
.post-type-archive-library{
	.breadcrumb_last{
		color: $green;
	}
	.two_thirds{
		a, .current{
			color: $green
		}
	}

	.content_wrap{
		h2, h4, a{
			color: $green;
		}
	}

	ul.share_btns{
		border-left: 2px solid $green !important;
	}
}

.single-downloads-data,
.post-type-archive-downloads-data{
	.breadcrumb_last{
		color: $red;
	}
	.two_thirds{
		a, .current{
			color: $red;
		}
	}

	.content_wrap{
		h2, h4, a{
			color: $red;
		}
	}

	ul.share_btns{
		border-left: 2px solid $red !important;
	}
}

.single-testcentre,
.post-type-archive-testcentre{
	.breadcrumb_last{
		color: $purple;
	}
	.two_thirds{
		a, .current{
			color: $purple;
		}
	}

	.content_wrap{
		h2, h4, a{
			color: $purple;
		}
	}

	ul.share_btns{
		border-left: 2px solid $purple !important;
	}
}

.tax-learning-key-words,
.tax-learning-categories,
.single-learn,
.post-type-archive-learn{
	.breadcrumb_last{
		color: $orange;
	}
	.two_thirds{
		a, .current{
			color: $orange;
		}
	}

	.content_wrap{
		h2, h4, a{
			color: $orange;
		}
	}

	ul.share_btns{
		border-left: 2px solid $orange !important;
	}

	.left_bar_list h3{
		color: $orange;
	}
}

.tax-community-categories,
.tax-community-key-words,
.bbPress,
.single-community,
.post-type-archive-community{
	.breadcrumb_last{
		color: $aquaGreen;
	}
	.two_thirds{
		a, .current{
			color: $aquaGreen;
		}
	}

	.content_wrap{
		h2, h4, a{
			color: $aquaGreen;
		}
	}

	ul.share_btns{
		border-left: 2px solid $aquaGreen !important;
	}

	.left_bar_list h3{
		color: $aquaGreen;
	}
}



.bbPress .Market{
	.breadcrumb_last{
		color: $aquaBlue;
	}
	.two_thirds{
		a, .current{
			color: $aquaBlue;
		}
	}

	.content_wrap{
		h2, h4, a{
			color: $aquaBlue;
		}
	}

	ul.share_btns{
		border-left: 2px solid $aquaBlue !important;
	}

	.left_bar_list h3{
		color: $aquaBlue;
	}
}